.landing-page-container {
    height: 80vh !important;
}

.landing-image {
    height: 100%;
    object-fit: cover;
}

.landing-title {
    font-size: 6vw;
    font-weight: 600;
}

.landing-description {
    font-size: 1.5vw;
    font-weight: 600;
}

.landing-description-container {
    height: 100%;
    /* vertical center */
    display: flex;
    flex-direction: column;
    justify-content: center;
}